<div class='card'>
    <img src='<%= advert.type === 'buy' ? '/images/static/buy.png' : '/images/static/sell.png' %>' class='card-icon' alt='icon'>
    <a href='<%= advert.photo%>'>
        <img src='<%= advert.thumbnail %>' class='card-img-top' alt='...'>
    </a>
    <span class='price'><%= advert.price.toFixed(2) %> €</span>
    <div class='card-body text-justify'>
        <h5 class='card-title text-uppercase mb-1 font-weight-bold'>
            <%= advert.name %> 
        </h5>
        <p class='card-text text-black-50'><small><%= advert.description %></small></p>
    </div>
    <div class='card-footer text-muted py-1 px-2'>
        <p class='card-text mb-1'>
        <% for(let j=0; j<advert.tags.length; j++) { %>
            <span class='badge badge-<%=advert.tags[j]%>'><%=advert.tags[j]%></span>
        <% } %>
        </p>
        <small id='passwordHelpInline' class='text-muted'>
        <%=__('Advert created')%> <%= moment(advert.createdAt).fromNow(); %>
        </small>
    </div>
</div>