<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <% include ../partials/head %>
  </head>    
  <!-- BODY -->
  <body>
    <!-- Header -->
    <header>
      <%- include('../partials/header', {active:'home'}) %>
    </header>
    <!-- Main -->
    <main class='container mt-5'>
      <div class='row'>
        <div class='col-12 text-center mt-4 mb-2'>
          <h1><%=__('Welcome to Nodepop')%> <%=locals.userName%></h1>
        </div>
        <div class='col-12'>
          <p><%=__('Find below all the adverts available for the current search')%></p>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 anuncios mb-4'>
          <% if (locals.count && locals.count > 0) { %>
            <%- include('../partials/adverts', {adverts: results}); %>
          <% } else { %>
            <p class="font-weight-bold"><%=__('Results not found')%></p>
          <% } %>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer id='footer' class="py-5">
      <% include ../partials/footer %>
    </footer>  
    <!-- Bootstrap js -->
    <% include ../partials/bootstrap %>
  </body>
</html>